body {
  font-size: 80%;
  text-align: center;
}

main {
  background: white;
  margin: 20px 0;
  padding: 50px;
}

main a {
  color: black;
  padding: 40px 30px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-family: system-ui;
  font-size:28pt;
}
